<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Enrollment - Kumon</title>

    <link href="https://fonts.googleapis.com/css?family=Fira+Sans:200,200i,400,400i,700,700i,900,900i" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="css/main.css" />
    <link rel="stylesheet" type="text/css" href="css/styleguide.css" />
  </head>

  <body class="landing">
    <header>
      <div class="content">
        <h1>Kumon</h1>
      </div>

      <nav>
        <a href="index.html">Home</a>
        <a href="programs.html">Programs</a>
        <a class="active" href="enrollment.html">Enrollment</a>
        <a class="accounts" href="mykumon.html">My Kumon</a>
      </nav>
    </header>


    <div class="content">
      <h2>How to get started?</h2>

      <section class="grid">
          <section class="size1of3">
            <h4>Step 1: Attend An Orientation</h4>
            <p>Before you enroll your child in a Kumon Math or Reading Program, it is encouraged that you meet with an instructor at a centre most convenient for you. They'll answer all your questions and ensure that the Kumon method is the best fit for your child's needs.</p>
          </section>

          <section class="size1of3">
            <h4>Step 2: A No-Cost Placement Test</h4>
            <p>At the same time as your orientation, your child will take a placement test at no cost to you. These results help your Kumon Instructor determine the perfect starting point that works best for your child.</p>
          </section>

          <section class="size1of3">
            <h4>Step 3: A Solid Grasp on Past Learning</h4>
            <p>Your child may begin with worksheets that address already well-understood topics and lessons. This ensures a solid grasp on earlier fundamental learning before moving forward.</p>
          </section>
      </section>
    </div>

    <article>
      <div class="content cta">
        <h2>Ready to enroll?</h2>
        <p>Contact us today to get started.</p>
        <a href="#" class="button">Enroll Now ></a>
      </div>
    </article>


    <footer>
      <div class="content">
        Created by <a href="http://joblee.ca">Job Lee</a> and <a href="#">Gordon Huang</a>. For IAT 339 Web Design and Development.
      </div>
    </footer>

  </body>
</html>
