<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Our Programs - Kumon</title>

    <link href="https://fonts.googleapis.com/css?family=Fira+Sans:200,200i,400,400i,700,700i,900,900i" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="css/main.css" />
    <link rel="stylesheet" type="text/css" href="css/styleguide.css" />
  </head>

  <body class="landing">
    <header>
      <div class="content">
        <h1>Kumon</h1>
      </div>

      <nav>
        <a href="index.html">Home</a>
        <a class="active" href="programs.html">Programs</a>
        <a href="enrollment.html">Enrollment</a>
        <a class="accounts" href="mykumon.html">My Kumon</a>
      </nav>
    </header>

    <nav class="local">
      <a href="#math">Math</a>
      <a href="#reading">Reading</a>
    </nav>



    <div class="content">
      <article id="math">
          <h2>Math</h2>
          <p>Daily Kumon Math Worksheets will take about 30 minutes to complete in two sessions a week at a Kumon Centre, and then another five assignments to be completed at home. Your child will work at his or her own pace, mastering each new concept before moving on. With each worksheet, you’ll find your child accelerating important math skills. Many Kumon parents ultimately find their children mastering concepts that put them grade levels ahead of their peers.</p>
      </article>

      <article>
        <h3>Age 3 - 5</h3>

        <div class="grid">
          <section class="size1of3">
            <h4>Build your child’s math skills from an early age</h4>
            <p>Before beginning elementary school is the perfect time to give your child a head start in Math. Kumon’s engaging, colourful worksheets begin developing initial math skills, including counting and number sequencing.</p>
          </section>

          <section class="size1of3">
            <h4>You and the instructor are there to guide your child</h4>
            <p>Two days a week at the Kumon Centre, your child's instructor will be ready to guide and assist with worksheets. At home, you’ll help and oversee your child’s progress approximately 30 minutes a day, until self-learning begins.</p>
          </section>

          <section class="size1of3">
            <h4>As your child’s knowledge grows, so will a valuable sense of accomplishment</h4>
            <p>You'll watch your child develop mental calculation skills, improve concentration ability and boost critical thinking skills with each new lesson.</p>
          </section>
        </div>
      </article>


      <article>
        <h3>Age 6 - 12</h3>

        <div class="grid">
          <section class="size1of3">
            <h4>Give your child an academic advantage in math</h4>
            <p>As your child progresses through elementary school, the Kumon Math Program will advance math skills by deepening ability and understanding. Ultimately, these skills become a foundation of knowledge to draw on throughout school.</p>
          </section>

          <section class="size1of3">
            <h4>Your child’s learning advances step by step</h4>
            <p>Each math worksheet is one step more advanced than the one before, ensuring your child fully absorbs and learns each math concept before moving on to the next.</p>
          </section>

          <section class="size1of3">
            <h4>You’ll watch your child’s knowledge advance and grow</h4>
            <p>As your child advances through the Kumon Math Program worksheets, you’ll know it’s in preparation to excel in middle school, high school, and throughout life.</p>
          </section>
        </div>
      </article>

      <article>
        <h3>Age 13+</h3>

        <div class="grid">
          <section class="size1of3">
            <h4>Competing in today’s world takes advanced math skills</h4>
            <p>As your child enters middle and high school, the Kumon Math Program will solidify and advance math skills, first for university and then a career.</p>
          </section>

          <section class="size1of3">
            <h4>Your child advances independently, step by step</h4>
            <p>The self-learning method of the Kumon Math Program will help your child develop a wide range of math skills, for the highest level of math learning.</p>
          </section>

          <section class="size1of3">
            <h4>You’ll watch your child acquire vital skills</h4>
            <p>As your child’s logical thinking advances, you’ll know you’re helping to provide the tools to excel in school – with knowledge that will continue to drive success beyond school.</p>
          </section>
        </div>
      </article>




      <article id="reading">
        <h2>Reading</h2>
        <p>The Kumon Reading Program is designed to build the critical reading skills that will help your child develop a lifelong love of reading – and a solid foundation for academic success. Daily Reading Worksheets will take about 30 minutes to complete – in two sessions a week at a Kumon Centre, and another five assignments completed at home. Your child will work at his or her own pace, mastering each new reading concept before moving on. With each worksheet, your child’s overall reading and writing skills will advance incrementally. Many Kumon parents ultimately find their children mastering concepts that put them grade levels ahead of their peers.</p>
      </article>

      <article>
        <h3>Age 3 - 5</h3>

        <div class="grid">
          <section class="size1of3">
            <h4>Kumon gives your child a head start in reading</h4>
            <p>Enrolling your son or daughter in the Kumon Reading Program before school begins will build a solid reading foundation – and a love of reading that will provide an advantage each year in school.</p>
          </section>

          <section class="size1of3">
            <h4>You and a Kumon Instructor help guide your child</h4>
            <p>Your early reader will need additional guidance in completing Reading Worksheets. Two days a week at the Kumon Centre, an instructor will be there to provide help with worksheets. At home, you’ll assist in the completion of worksheets during the 30 minutes a day of Kumon Reading time.</p>
          </section>

          <section class="size1of3">
            <h4>As reading skills grow, so does a sense of accomplishment</h4>
            <p>With every Reading Worksheet your child completes, you’ll see continued success and satisfaction. Best of all, school years begin with a foundation of knowledge and achievement.</p>
          </section>
        </div>
      </article>


      <article>
        <h3>Age 6 - 12</h3>

        <div class="grid">
          <section class="size1of3">
            <h4>Open your child’s world with a love of reading</h4>
            <p>Building strong reading comprehension from an early age will prepare your child to advance through elementary school with confidence and appreciation for learning.</p>
          </section>

          <section class="size1of3">
            <h4>Your child begins at the right level</h4>
            <p>A Kumon Instructor will assess your child’s current reading skills and introduce the appropriate level of Kumon Reading Worksheets. This provides just the right start for building comprehension and writing skills.</p>
          </section>

          <section class="size1of3">
            <h4>You’ll watch your child’s knowledge advance and broaden</h4>
            <p>As each worksheet is completed, you’ll see your child building a stronger vocabulary, a more thorough understanding of the proper use of grammar, and an ability to interpret content that becomes strength in a wide range of classes.</p>
          </section>
        </div>
      </article>



    <article>
      <h3>Age 13+</h3>

      <div class="grid">
        <section class="size1of3">
          <h4>Competing in today’s world takes advanced reading skills</h4>
          <p>As your child enters middle and high school, the Kumon Reading Program will help advance reading abilities and critical thinking, necessary for rigorous university courses.</p>
        </section>

        <section class="size1of3">
          <h4>Your child advances independently, step by step</h4>
          <p>Through the study of advanced fiction and non-fiction passages, your child will develop critical thinking skills by analyzing complex texts from literary criticism to academic, social, and political commentary. The ability to interpret diverse information and form a judgment becomes a valuable academic, and lifelong, skill.</p>
        </section>

        <section class="size1of3">
          <h4>You’ll see your child’s knowledge and abilities grow</h4>
          <p>With each new advanced reading and comprehension skill, you’ll know you’re helping provide the tools your child needs to excel in the classroom.</p>
        </section>
      </div>
    </article>


  </div>

  <article class="accent">
    <div class="content cta">
      <h2>Interested in the Programs?</h2>
      <p>Are you ready to enroll your child?</p>
      <a href="enrollment.html" class="button">Enroll></a>
    </div>
  </article>

  <footer>
    <div class="content">
      Created by <a href="http://joblee.ca">Job Lee</a> and <a href="#">Gordon Huang</a>. For IAT 339 Web Design and Development.
    </div>
  </footer>

  </body>
</html>
