* {

  box-sizing: border-box;
}

/* Fonts */
html, body {
  font-family: 'Fira Sans', sans-serif;
  color: #999999;
}
nav, .button {
  font-weight: bold;
}

/**** STRUCTURE ****/
.content, nav {
  margin: 0 auto;
  padding: 0 1rem;
  max-width: 60rem;
}

/**** INTERACTIVE ****/
/* Links */
a {
  border-bottom: .1rem solid;
  color: #76cbf3;
  text-decoration: none;
  transition: all .125s;
}

a:hover, a:focus {
  color: #abe1fa;
}

/* Navigation */
nav {
  display: flex;
}

nav.local {
  flex-wrap: wrap;
  background-color: #ffffff;
  border-bottom: #76cbf3 solid .1rem;
}

nav a {
  display: block;
  margin: 0 1rem;
  padding: .75rem 0;
  border-bottom: transparent solid 0;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  transition: all .125s;
}

nav a:first-child { margin-left: 0; }
nav a:last-child { margin-right: 0; }

nav.local a {
  color: #76cbf3;
}

nav a:hover, nav a:focus, nav a.active {
  color: #ca57a0;
  padding-bottom: .45rem;
  border-bottom: #ca57a0 solid .3rem;
}

nav.local a:hover, nav.local a:focus {
  padding-bottom: .75rem;
  border-bottom: none;
}


nav.local a.active {
  color: #ca57a0;
  padding-bottom: .45rem;
  border-bottom: #76cbf3 solid .3rem;
}


/* Buttons */
.button {
  display: inline-block;
  padding: .75rem 1rem;
  border-radius: .25em;
  background-color: #76cbf3;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  transition: background-color .125s;
}
.button:hover, .button:focus {
  color: #ffffff;
  background-color: #00afec;
}

.button.accent {
  background-color: #ca57a0;
}
.button.accent:hover,
.button.accent:focus {
  background-color: #f05b72;
}

.button.disabled {
  background-color: #f6f6f6;
  cursor: default;
}

/* Form Text Input */
.field {
  margin: 1rem .5rem;
}

.field label {
  display: block;
  margin-bottom: .5rem;
  font-weight: bold;
}

.field input {
  display: block;
  width: 100%;
  max-width: 40rem;
  padding: .5rem;
  border: #bbbbbb solid .1rem;
  border-radius: .25rem;
  transition: all .125s;
}
.field input:hover {
  border-color: #abe1fa;
}
.field input:focus {
  outline: none;
  border-color: #00afec;
}

/**** TEXT STYLING ****/
p, li {
  line-height: 1.4em;
}

strong > em, em > strong {
  background-color: #abe1fa;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 2em;
  margin-bottom: 1em;
  color: #76cbf3;
}

.subtitle {
  font-weight: bold;
}

article > *:first-child {
  margin-top: 1rem;
}

pre {
  padding: 1rem;
  background-color: #f6f6f6;
  border-radius: .25rem;
  overflow: auto;
}

/**** MEDIA STYLING ****/
iframe, img {
  border: #f6f6f6 solid .1rem;
}

img.preview {
  max-width: 10rem;
}

/**** MODULAR ELEMENTS ****/
/* Header */
header {
  color: #ffffff;
  background-color: #76cbf3;
}

header h1 {
  color: #ffffff;
}

header .content {
  padding: 1rem;
}

/* Footer */
footer {
  margin-top: 5rem;
  padding: 1rem 0;
  background-color: #f6f6f6;
}

footer .content {
  font-size: 90%;
}

/* Grids */
.grid {
  display: flex;
  flex-wrap: wrap;
}
.grid > [class^="size"] { margin: 0 1rem 1rem 0; }

.grid .size1of1 { flex: 3 40rem; }
.grid .size1of2 { flex: 2 20rem; }
.grid .size1of3 { flex: 1 18rem; }
