* {
  box-sizing: border-box;
}

/* Colours */
.colour-palette .primary { background-color: #6dcff6; }
.colour-palette .primary-light { background-color: #abe1fa; }
.colour-palette .primary-dark { background-color: #00afec; }
.colour-palette .secondary { background-color: #ca57a0; }
.colour-palette .secondary-light { background-color: #f05b72; }
.colour-palette .background { background-color: #f6f6f6; }

.colour-palette [class]:not(.background) {color: #ffffff; }

/* Fonts */
html, body {
  font-family: 'Fira Sans', sans-serif;
  color: #999999;
}
nav, .button, button {
  font-weight: bold;
}

/**** STRUCTURE ****/
.content, nav, header .container, .hero .container {
  margin: 0 auto;
  padding: 0 1rem;
  max-width: 60rem;
}

/**** INTERACTIVE ****/
/* Links */
a {
  border-bottom: .1rem solid;
  color: #6dcff6;
  text-decoration: none;
  transition: all .125s;
}

a:hover, a:focus {
  color: #abe1fa;
}

/* Navigation */
nav {
  display: flex;
}

nav.local {
  flex-wrap: wrap;
  background-color: #ffffff;
  border-bottom: #6dcff6 solid .1rem;
}

nav a {
  display: block;
  margin: 0 .75rem;
  padding: .75rem 0;
  border-bottom: transparent solid 0;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  transition: all .125s;
}

nav a:first-child { margin-left: 0; }
nav a:last-child { margin-right: 0; }

nav a.last { margin-left: auto; }

nav.local a {
  color: #6dcff6;
}

nav a:hover, nav a:focus, nav a.active {
  color: #ca57a0;
  padding-bottom: .45rem;
  border-bottom: #ca57a0 solid .3rem;
}

nav.local a:hover, nav.local a:focus {
  padding-bottom: .75rem;
  border-bottom: none;
}

nav.local a.active {
  color: #ca57a0;
  padding-bottom: .45rem;
  border-bottom: #6dcff6 solid .3rem;
}

header.collapsed nav a:hover,
header.collapsed nav a:focus,
header.collapsed nav a.active {
  color: #ca57a0;
  padding-left: .45rem;
  padding-bottom: .75rem;
  border-left: #ca57a0 solid .3rem;
  border-bottom: none;
}

header.collapsed nav.local a:hover,
header.collapsed nav.local a:focus {
  padding-left: .75rem;
  border-left: none;
  border-bottom: none;
}


header nav .menu-toggle { display: none; }
header.collapsed .container { display: block; }
header.collapsed nav { display: block; }
header.collapsed nav .menu-toggle { display: block; }
header.collapsed nav a:not(.menu-toggle) { display: none; }

header.collapsed nav.opened a {  display: block; }
header.collapsed nav.opened a.last {  margin: 0 .75rem; }


nav .menu-toggle {
  position: relative;
  padding-bottom: 2rem;
}

nav .menu-toggle span {
  position: absolute;
  transition: opacity .25s;
}

header.collapsed nav a.menu-toggle,
header.collapsed nav a.menu-toggle:hover,
header.collapsed nav a.menu-toggle:focus {
  border-left: none;
  padding-left: .75rem;
  padding-bottom: 2rem;
}

nav .menu-toggle .nav-close { opacity: 0; }
nav.opened .menu-toggle .nav-open { opacity: 0; }
nav.opened .menu-toggle .nav-close { opacity: 1; }

/* Buttons */
.button, button {
  display: inline-block;
  padding: .75rem 1rem;
  border-radius: .25em;
  border: .125rem solid;
  border-color: #ca57a0;
  color: #ca57a0;
  text-transform: uppercase;
  text-decoration: none;
  transition: background-color .125s, border-color .125s;
}
button {
  padding: .5rem .75rem;
  background-color: transparent;
}
.button:hover, .button:focus, button:hover, button:focus {
  color: #ffffff;
  background-color: #ca57a0;
}

.button.accent, button.accent {
  border-color: #f05b72;
  color: #f05b72;
}``
.button.accent:hover, .button.accent:focus
button.accent:hover, button.accent:focus {
  color: #ffffff;
  background-color: #f05b72;
}

.button.disabled, button.disabled {
  border-color: #f6f6f6;
  background-color: transparent;
  color: #f6f6f6;
  cursor: default;
}

/* Form Text Input */
form {
  margin: 0 .5rem;
}

.field {
  margin: 1rem auto;
  width: 100%;
  max-width: 40rem;
}

.field label {
  display: block;
  margin-bottom: .5rem;
  font-weight: bold;
  text-align: left;
}

.field input {
  display: block;
  width: 100%;
  padding: .5rem;
  border: #bbbbbb solid .1rem;
  border-radius: .25rem;
  transition: all .125s;
}
.field input:hover {
  border-color: #abe1fa;
}
.field input:focus {
  outline: none;
  border-color: #00afec;
}

form .nav {
  text-align: right;
}

/**** TEXT STYLING ****/
p, li {
  line-height: 1.4em;
}

strong > em, em > strong {
  display: inline-block;
  padding: .1em .2em;
  background-color: #f05b72;
  color: #ffffff;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 2em;
  margin-bottom: 1em;
  color: #6dcff6;
}

.subtitle {
  font-weight: bold;
  color: #6dcff6;
}

pre {
  padding: 1rem;
  background-color: #f6f6f6;
  border-radius: .25rem;
  overflow: auto;
}

/**** MEDIA STYLING ****/
iframe {
  border: #f6f6f6 solid .1rem;
}

img.preview {
  max-width: 10rem;
}

img.thumbnail {
  max-height: 8rem;
}

/**** MODULAR ELEMENTS ****/
/* Header */
header {
  color: #ffffff;
  background-color: #6dcff6;
}

header .container {
  display: flex;
  align-items: center;
}

header h1 {
  margin: 0;
  color: #ffffff;
}

header img.logo {
  max-width: 100%;
  height: 2.5rem;
}

header a {
  border-bottom: none;
}

header a img.static { display: block; }
header a img.hover { display: none; }

header a:hover img.hover,
header a:focus img.hover { display: block; }
header a:hover img.static,
header a:focus img.static { display: none; }

header .content {
  padding: 1.25rem 2.5rem 1rem 2rem
}

header nav {
  flex: 1;
}

/* Footer */
footer {
  padding: 1rem 0;
  background-color: #f6f6f6;
}

footer .content {
  font-size: 90%;
}

/* Hero */
.hero {
  background: #6dcff6 center center/cover no-repeat;
  color: #ffffff;
}

.hero { background-image: url("../img/kumon1.jpg"); }
.hero.home { background-image: url("../img/home_header_img.jpg"); }
.hero.math { background-image: url("../img/math_header_img.jpg"); }
.hero.reading { background-image: url("../img/reading_header_img.jpg"); }
.hero.plus { background-image: url("../img/plus_header_img.jpg"); }
.hero.contact { background-image: url("../img/contact_header_img.jpg"); }

.hero .content {
  margin-top: 0;
  font-size: 125%;
  padding: 25vh 1rem;
  max-width: 35rem;
  text-align: center;
}

@media (max-width: 923px) {
  .hero .content {
    float: none;
  }
}

.hero::after {
  content: "";
  display: block;
  clear: right;
}

.hero h1 {
  margin: 0;
  color: #ffffff;
  text-shadow: 0.1em 0.1em 1em rgba(0,0,0,.5);
  text-transform: uppercase;
}

/* Grids */
.grid {
  display: flex;
  flex-wrap: wrap;
}
.grid > [class^="size"] {
  margin: 0 1rem 1rem 0;
  width: 100%;
}

.grid .size1of1 { flex: 3 40rem; }
.grid .size1of2 { flex: 2 20rem; }
.grid .size1of3 { flex: 1 18rem; }
.grid .size2of3 { flex: 1 36rem; }

/* Call to Actions */
.cta {
  padding: 1rem .5rem;
  color: #ffffff;
  background-color: #00afec;
  text-align: center;
}

.cta h1, .cta h2, .cta h3, .cta h4, .cta h5, .cta h6 {
  margin: 1em 0;
  color: #ffffff;
}

.cta .content :first-child, .cta .content :last-child {
  margin-top: 0;
}

.cta button, .cta .button {
  color: #ffffff;
  border-color: #ffffff;
}

.cta button:hover, .cta button:focus,
.cta .button:hover, .cta .button:focus {
  border-color: #ca57a0;
}

.cta > *:first-child {
  margin-top: 1rem;
}
