.colour-palette {
  display: flex;
  flex-wrap: wrap;
}

.colour-palette div {
  flex: 1;
  padding: .5rem .75rem;
}

.colour-palette small {
  font-weight: bold;
}

/* Colours */
.colour-palette .primary { background-color: #76cbf3; }
.colour-palette .primary-light { background-color: #abe1fa; }
.colour-palette .primary-dark { background-color: #00afec; }
.colour-palette .secondary { background-color: #ca57a0; }
.colour-palette .secondary-light { background-color: #f05b72; }
.colour-palette .background { background-color: #f6f6f6; }

.colour-palette [class]:not(.background) {color: #ffffff; }
